.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.content {
  margin: auto;
}

@media screen and (min-width: 850px) {
  .content {
    width: 800px;
  }
}

@media screen and (max-width: 850px) {
  .content {
    width: 560px;
  }
}

@media screen and (max-width: 560px) {
  .content {
    width: 96%;
  }
}